section{
    font-family: 'Montserrat';
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
}
input{
    width: 10%;
    margin: auto;
    padding: 10px 15px;
}
button{
    width: 225px;
    margin: 10px auto;
    padding: 10px 15px;
}