section{
    font-family: 'Montserrat';
    text-align: center;
}
.container{
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    width: 20%;    
    margin: auto    ;
}
input, select, button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
input{
    width: 360px;
}
button{
    cursor: pointer;
}